- ### Data type
Immutable: number / string / tuple

Mutable: list / dictionary / set

Other: Boolen / bytes

 ---

- ### Number

**type**

In [4]:
print(type(1)) #integer
print(type(1.0)) #float
print(type(1 + 1j)) #complex
print(type("1")) #string
print(type(True)) #boolean
print(type(None)) #NoneType
print(type([])) #list
print(type(())) #tuple
print(type({})) #dictionary
print(type(set())) #set

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

**basic calculation**

In [5]:
print(3 * 6)  # multiplication
print(7/3)  # division

18
2.3333333333333335

In [6]:
print(7//3)  # integer division
print(7 % 3)  # modulus
print(divmod(7, 3))  # integer division and modulus

2
1
(2, 1)

In [7]:
print(3 ** 2)
print(pow(3,2))  # exponentiation

9
9

In [8]:
print(pow(3,2,mod=4))  # exponentiation with modulus
print(pow(3,-1,mod=4))  # negative exponentiation with modulus

1
3

**scientific notation**

In [9]:
print(3E-2)  # scientific notation

0.03

**complex number**

In [10]:
a=complex('3+4j');b=complex(3,4);c=complex('-Infinity+NaNj')
print(a,b,c);print(abs(a));print(a.real);print(a.imag)  # complex number

(3+4j) (3+4j) (-inf+nanj)
5.0
3.0
4.0

---
- ### String

**operation**

In [11]:
print(2*'brac'+'ket')  # string concatenation

bracbracket

**escape "\\"**

In [12]:
print('don\'t'," or ","don't")  # escape character

don't  or  don't

**raw string**

In [13]:
print(r"line1\nline2")  # raw string

line1\nline2

**concatenation**

In [14]:
print("string1\
string2")  # string concatenation

string1string2

In [ ]:
print('string1', end='') # do not print new line
print('string2')

string1string2

**multi-line**

In [16]:
print("line1\nline2")  # new line

line1
line2

In [17]:
print("""string1
string2
string3""")  # multi-line string

string1
string2
string3

**format by %**

In [56]:
import math
print("%f in %s is %d" % (math.pi,"integer",math.pi))  # %s for string, %d for integer, %f for float

3.141593 in integer is 3

**format by str.format()**

In [72]:
import math
str="{} {:.2f}".format("two decimal", math.pi) # default order; 2 decimal places
print(str)  # string format

two decimal 3.14

In [87]:
str="{0:x>3d} {1:,}".format(5, 10000) # ordered; fill with x, align right, width 3; comma separator
print(str)  # string format

xx5 10,000

In [96]:
str="{pos1:.2%} {pos2:^4d}x".format(pos1=0.2567, pos2=56) # named
print(str)  # string format

25.67%  56 x

In [59]:
dict={"pos1":"hello", "pos2":"world"}
str="{pos1} {pos2}".format(**dict) # dictionary with **
print(str)  # string format

hello world

In [61]:
list=["hello", "world"]
str="{0[0]} {0[1]}".format(list) # list with 0[]
print(str)  # string format

hello world

**string as list**

In [97]:
char="world";print(len(char))   # length
a=char[0];b=char[-1];print(a,b)  # string indexing
c=char[:2];d=char[-2:];print(c,d)  # string slicing with positive 2 excludied

5
w d
wo ld

**search**

In [110]:
str="l";word="hello"
print(word.find(str,3,5))  # find str from 3 to 5; return -1 if not found
print(word.index(str,3,5))  # index str from 3 to 5; raise ValueError if not found

3
3

**replace**

In [131]:
word="hello";wordnew=word.replace("ello","i",1) # replace all occurance with at most 1 times
print(wordnew)  # replace first occurance

hi

**split**

In [132]:
sent="hello world !";wordlist=sent.split(" ",1) # split by space with at most 1 times
print(wordlist)  # split string

['hello', 'world !']

In [139]:
multiline="""hello
world"""
print(multiline.splitlines())  # split by line without \n; default keepends=False

['hello', 'world']

---
- ### Tuple

In [19]:
tuple=(1,2,3,4,5,'f');print(tuple)
print(tuple[0]);print(tuple[-1])  # tuple, immutable
print(tuple[::2])  # tuple slicing with steps 2

(1, 2, 3, 4, 5, 'f')
1
f
(1, 3, 5)

In [20]:
tuple=();print(tuple)  # empty tuple
tuple=(1,);print(tuple)  # tuple with one element

()
(1,)

In [21]:
print("a \\ b")

a \ b

---
- ### List

In [22]:
list=[1,2,3,4,5,6];print(list[2:-1:2]) # list slicing from pos 2 to pos -1(excluded) with step 2
print([list[0],list[-1]])  # list, mutable
list[2]=-3;print(list);list.append(6);print(list);list.pop();print(list)  # list modification
list[-2:]=[];print(list);print(len(list))  # list shrink

[3, 5]
[1, 6]
[1, 2, -3, 4, 5, 6]
[1, 2, -3, 4, 5, 6, 6]
[1, 2, -3, 4, 5, 6]
[1, 2, -3, 4]
4

In [23]:
list1=[1,'f'];list2=[3,4]
list=[list1,list2];print(list);print(list[1][1])  # list nesting
list0=2*list1+list2;print(list0)  # list concatenation

[[1, 'f'], [3, 4]]
4
[1, 'f', 1, 'f', 3, 4]

---
- ### Dictionary

In [24]:
d={};print(d)  # dictionary
d['x']='y';print(d);print(d['x'])  # dictionary modification

{}
{'x': 'y'}
y

In [25]:
person={'name':'A','age':21,'city':'London'}
print(person)  # tiny dictionary
print(person.keys());print(person.values())  # dictionary keys and values
print(person.items());print(person.popitem())  # dictionary items
print(person.get('name'),person.get('salary'))  # prevents KeyError if key doesn't exist

{'name': 'A', 'age': 21, 'city': 'London'}
dict_keys(['name', 'age', 'city'])
dict_values(['A', 21, 'London'])
dict_items([('name', 'A'), ('age', 21), ('city', 'London')])
('city', 'London')
A None

In [26]:
person1=dict(name='B',age=22,city='Paris')
for key in person1:
    print(key,person1[key])  # dictionary iteration

print("\n")
person2=dict([('name','C'),('age',23),('city','Berlin')])
for key,value in person2.items():
    print(key, value)  # dictionary iteration

name B
age 22
city Paris


name C
age 23
city Berlin

In [27]:
square={x:x**2 for x in range(5)};print(square)  # dictionary comprehension
square=dict((x,x**2) for x in range(5));print(square)  # dictionary comprehension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [28]:
dict1 = {"a": 1, "b": 2}
dict2 = {"a": 3, "c": 4}
dict1.update(dict2);print(dict1)  # dictionary update

{'a': 3, 'b': 2, 'c': 4}

---
- ### Set

In [29]:
setnull=set();print(setnull)  # empty set
set1={1,2,3,3};print(set1)  # set excludes duplicates

set()
{1, 2, 3}

In [30]:
s1={'a','b','c'};s2={'b','c','d'}
print(s1|s2);print(s1&s2);print(s1-s2);print(s1^s2);print((s1|s2)-(s1&s2))  # set union, intersection, difference, union with not intersection

{'d', 'b', 'c', 'a'}
{'b', 'c'}
{'a'}
{'d', 'a'}
{'d', 'a'}

---
- ### Boolen

In [31]:
print(True==1,False==0)  # boolean
print(3 == 5,3 != 5)  # comparison

True True
False True

In [32]:
print(bool('a'),bool([]))  # boolean conversion
print(int(True),int(False))  # boolean conversion

True False
1 0

In [33]:
print(True and False,True or False,not True)  # logical operation

False True False

---
- ### Bytes

In [34]:
x=bytes('Hello',encoding='utf-8');print(x) #bytes
y=b'Hi';print(x+2*y)
print(x[0],ord('H'))  # byte indexing

b'Hello'
b'HelloHiHi'
72 72

In [35]:
print(ord('A'),ord('Z'),ord('a'),ord('z'))  # ASCII
a=ord('H');print(a);print(chr(a))  # ord: ASCII to integer, chr: integer to ASCII

65 90 97 122
72
H