In [ ]:
a,b=3,4; d=c=a*b 
print(c,d)  # multiple statements in one line

12 12